@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Kalam", cursive; */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Archivo Narrow", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Raleway", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Bebas Neue", sans-serif; */

body {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
    width: 3px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
}

.navbar {
    height: 6rem;
    box-shadow: 0px 1px 16px rgba(128, 128, 128, 0.3);
}

.navbar .navbar-nav {
    width: 50%;
}

.navbar-nav .nav-item .nav-link {
    color: black;
    font-weight: 500;
    border: 0;
    transition: .2s all ease-out;
    transform-origin: right;
    border-radius: 35px;
    padding: 10px 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #0D6EFD;
    color: white;
}

.navbar-nav .nav-item .active {
    background-color: #0D6EFD;
    color: white;
}

.navbar .nav-access a {
    transition: .2s;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.navbar .nav-access a:hover {
    color: #0D6EFD;
}

.btn-try-free {
    background-color: #0D6EFD;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 0;
    transition: .5s;
}

.btn-try-free:hover {
    letter-spacing: 2px;
    background-color: #1ca65a;
}

@media (max-width: 450px) {

    .navbar .navbar-nav {
        width: 100% !important;
    }

    .navbar-nav .nav-item .active {
        background-color: #F8F9FA;
        color: #0D6EFD;
    }

    .Contact .btn-your-email::placeholder {
        font-weight: bold;
    }

    .btn-try-free {
        display: none;
    }

    .navbar .navbar-nav .nav-item a {
        font-size: .8rem;
    }

}

@media (max-width: 322px) {
    .navbar .nav-access a .fa-magnifying-glass {
        display: none !important;
    }
}

/* ///////////////////////////////FRONT PAGE/////////////////////////////////// */

.front-page {
    margin-top: 5.5rem;
    height: 750px;
    background-image: url(images/video-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.front-page-content {
    background-color: #F5F2EB;
    background-image: url(images/bg-front-shade1.png);
    background-repeat: no-repeat;
    background-position: 670px 30px;
}

.front-page-content .head {
    font-size: 3.2rem;
    font-weight: 700;
    user-select: none;
}

.front-page-content .sub-head {
    font-size: 1rem;
}

.btn-find-courses {
    background-color: #0D6EFD;
    color: white;
}

.btn-find-courses:hover {
    border: 2px #0D6EFD solid;
    color: black;
}

.front-page-content .front-page-pic1 img {
    border-radius: 0px 60px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.front-page-content .front-page-pic2 img {
    border-radius: 60px 0px;
    object-fit: cover;
    height: 370px;
    margin-top: 5rem;
}

.front-page-content .front-page-Contact {
    width: 18rem;
    height: 6rem;
    position: absolute;
    left: 12%;
    bottom: 5%;
    border-radius: 60px 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.front-page-content .front-page-Contact .phone {
    background-color: #F5F2EB;
    font-size: 1.7rem;
}

@media (max-width:992px) {
    .front-page {
        height: 950px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .front-page-content .head {
        font-size: 2.5rem;
    }

    .front-page-content .front-page-pic1 {
        display: flex;
        justify-content: end;
    }

    .front-page-content .front-page-pic1 img {
        width: 220px;
        height: 250px;
    }

    .front-page-content .front-page-pic2 img {
        width: 220px;
    }

    .front-page-content .front-page-Contact {
        width: 16rem;
        height: 6rem;
    }
}

@media (max-width: 600px) {
    .front-page-content .head {
        font-size: 2.5rem;
    }

    .front-page-content .front-page-pic1 {
        display: flex;
        justify-content: end;
    }

    .front-page-content .front-page-pic1 img {
        width: 220px;
        height: 250px;
    }

    .front-page-content .front-page-pic2 img {
        width: 220px;
        margin: 0;
    }

    .front-page-content .front-page-Contact {
        display: none;
        width: 16rem;
        height: 6rem;
    }
}

@media (max-width: 450px) {
    .front-page {
        height: 800px;
    }

    .front-page-content .head {
        font-size: 1.7rem;
    }

    .front-page-content .sub-head {
        font-size: .8rem;
    }

    .front-page-content .btn-find-courses {
        font-size: .8rem;
    }

    .front-page-content .front-page-pic1 {
        display: flex;
        justify-content: end;
    }

    .front-page-content .front-page-pic1 img {
        width: 170px;
        height: 250px;
    }

    .front-page-content .front-page-pic2 img {
        width: 170px;
        margin: 0;
    }

    .front-page-content .front-page-Contact {
        display: none;
        width: 16rem;
        height: 6rem;
    }
}

@media (max-width: 365px) {
    .front-page-content .front-page-pic1 img {
        width: 140px;
        height: 250px;
    }

    .front-page-content .front-page-pic2 img {
        width: 135px;
        margin: 0;
    }

}

/* //////////////////////////CATEGORY///////////////////////////// */

.category {
    padding: 5rem 0rem;
}

.category-card .card {
    cursor: pointer;
    transition: .1s all;
}

.category-card .card:hover {
    border: #0D6EFD 1px solid;
}

.category-card .card-body .btn-view-courses {
    font-size: .9rem;
}

.category-card .card-body .btn-view-courses:hover {
    background-color: #0D6EFD;
    color: white;
}

.category-card .card .card-body .card-text {
    color: gray;
}

.category-card .card .card-icon img {
    user-select: none;
}


/* ////////////////////////////ABOUT///////////////////////////////////////// */

.about .left-content {
    padding: 7rem 5rem;
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
}

.about .left-content .about-person-info {
    height: 220px;
    width: 150px;
    box-shadow: rgba(128, 128, 128, 0.494) 5px 5px 20px;
    position: absolute;
    left: 4%;
    top: 0%;
    border-radius: .3rem 3.5rem;
}

.about .left-content .about-main-img img {
    object-fit: cover;
    height: auto;
    width: 100%;
    user-select: none;
}

.about .left-content .about-learners {
    user-select: none;
    width: 15rem;
    height: 6rem;
    position: absolute;
    right: 5%;
    bottom: 11%;
    border-radius: 60px 5px;
    box-shadow: rgba(128, 128, 128, 0.518) -2px 2px 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about .right-content .point-checks {
    list-style: none;
    line-height: 35px;
    letter-spacing: 1px;
}

.about .about-learners .graduation {
    background-color: #bde0fe;
    font-size: 1.8rem;
}

.about .about-learners .Numbers p {
    font-size: 2rem;
    font-weight: 600;
}

@media (max-width: 1160px) {
    .about .left-content .about-person-info {
        height: 170px;
        width: 135px;
    }

    .about .left-content .about-person-info .person-name {
        font-size: .8rem;
    }

    .about .left-content .about-learners {
        width: 13rem;
        height: 5rem;
    }

    .about .about-learners .graduation {
        font-size: 1.3rem;
    }

    .about .about-learners .Numbers p {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .about .about-learners .Numbers small {
        font-size: .7rem;
    }
}

@media (max-width: 600px) {
    .about .left-content .about-learners {
        display: none;
    }
}

@media (max-width: 450px) {
    .about .left-content {
        padding: 1rem;
    }

    .about .left-content .about-person-info {
        display: none;
        visibility: hidden;
    }

    .about .left-content .about-learners {
        display: none;
    }

    .about .right-content h1 {
        font-size: 1.3rem;
        margin-top: .7rem;
    }

    .about .right-content .sub-head {
        font-size: .8rem;
    }

    .about .right-content .point-checks {
        font-size: .8rem;
    }
}

/* ///////////////////POPULAR COURSES /////////////////////////////*/

.popular-courses .cards {
    height: 550px;
    background-color: #F5F2EB;
    border-radius: 3rem 3rem 0px 0px;
}

.popular-courses .card1 {
    position: relative;
}

.popular-courses .cards .card1 .card-img img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: .3s;
}

.popular-courses .cards .card1:hover img {
    transform: scale(1.07);
    filter: opacity(50%);
}

.popular-courses .cards .card1 .content {
    width: 85%;
    position: absolute;
    top: 80%;
    z-index: 1;
    right: 7%;
    left: 7%;
    background-color: saddlebrown;
    cursor: pointer;
}

.popular-courses .cards .card1 .content .card-btn {
    transition: .2s;
    color: #0D6EFD;
    text-decoration: none;
}

.popular-courses .cards .card1 .content .card-btn:hover {
    background-color: #0D6EFD;
    color: #bde0fe;
}

.view-all-btn {
    height: 200px;
    background-image: url(images/video-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.view-all-btn button {
    background-color: #bde0fe;
    padding: .8rem 2rem;
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 0;
    transition: .5s;
}

.view-all-btn button:hover {
    letter-spacing: 1.5px;
    color: white;
    background-color: #0D6EFD;
}

@media (max-width: 760px) {
    .popular-courses .cards {
        height: auto;
    }

    .popular-courses .card1 {
        padding: 1rem 8px;
        display: flex;
    }

    .popular-courses .cards .card1 .card-img img {
        height: 250px;
    }

    .popular-courses .cards .card1 .content {
        position: static;
    }

    .popular-courses .cards .card1 .content .content-text {
        font-size: .9rem;
    }

    .popular-courses .cards .card1 .content .star {
        font-size: .8rem;
    }

    .popular-courses .cards .card1 .content .duration {
        font-size: .7rem;
    }
}

@media (max-width: 600px) {
    .popular-courses .cards {
        height: auto;
        border-radius: 0px;
    }

    .popular-courses .card1 {
        padding: 1rem 8px;
        display: flex;
    }

    .popular-courses .cards .card1 .content {
        position: static;
    }

    .popular-courses .cards .card1 .content .content-text {
        font-size: .7rem;
    }

    .popular-courses .cards .card1 .content .star {
        font-size: .6rem;
    }
}

@media (max-width: 450px) {
    .popular-courses .cards .card1 .content .card-btn {
        font-size: .6rem;
    }
}

/* ////////////////////////////////////////////////////////// */
/* ///////////////////////TESTOMONIAL///////////////////// */
/* ////////////////////////////////////////////////////////// */

.testimonial {
    padding: 5rem 5rem;
}

.testimonial-box {
    padding: 2rem 0rem 1rem 0rem;
    height: 240px;
}

.testimonial-box span {
    height: 50%;
}

.testimonial-box aside {
    height: 50%;
    transform: scale(1);
    transition: .2s all ease-out;
}

.testimonial-box aside:hover {
    transform: scale(1.2);
    opacity: 100%;
}

@media (max-width: 450px) {
    .testimonial .head {
        font-size: 1.2rem;
    }

    .testimonial .sub-head {
        font-size: .8rem;
    }

    .testimonial-box {
        width: 100%;
    }
}

/* //////////////////////MAP//////////////////////////// */

.map-branch iframe {
    border-radius: 15px;
    /* border: .5spx solid grey; */
    box-shadow: grey 2px 2px 10px;
}

@media (max-width: 810px) {
    .map-branch iframe {
        height: 300px;
    }
}

@media (max-width: 450px) {
    .map-branch iframe {
        height: 270px;
    }
}


/* //////////////////////PLACEMENT///////////////////////////// */

.placement {
    height: 200px;
}

@media (max-width: 600px) {
    .placement {
        height: 140px;
    }

    .placement .carousel img {
        height: 120px;
    }
}

/* ////////////////////////////////////////////////////////////////// */
/* //////////////////////CONTACT/////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */

.Contact {
    color: white;
}

.Contact ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;

}

.Contact ul li {
    display: flex;
}

.Contact h5 {
    font-size: 1.4rem;
}

.Contact ul li a {
    text-decoration: none;
    color: grey;
    transition: .2s;
}

.Contact ul li a:hover {
    color: #0D6EFD;
}

.Contact .icons li {
    display: inline;
    font-size: 1.6rem;
    margin-right: 5px;
}

.Contact .copyright a {
    color: white;
    transition: .2s all ease-in-out;
}

.Contact .copyright a:hover {
    color: #ED1C24;
}

@media (max-width: 800px) {
    .Contact ul li {
        font-size: .9rem;
    }

    .Contact ul li p {
        font-size: .9rem;
    }

    .Contact .head {
        font-size: 1rem;
    }

    .Contact .btn-your-email {
        font-size: 1rem;
    }

    .copyright small {
        font-size: .8rem;
    }
}

@media (max-width: 650px) {
    .Contact ul li {
        font-size: .9rem;
    }

    .Contact ul li p {
        font-size: .9rem;
    }

    .Contact .head {
        font-size: 1rem;
    }

    .Contact .btn-your-email {
        font-size: .7rem;
    }

    .Contact .email-text {
        font-size: .8rem;
    }

    .Contact .icons li {
        font-size: 1rem;
    }

    .copyright small {
        font-size: .6rem;
    }
}

@media (max-width: 450px) {

    .Contact ul li {
        font-size: .8rem;
    }

    .Contact ul li p {
        font-size: .8rem;
    }

    .Contact .head {
        font-size: 1rem;
    }

    .Contact .email-text {
        font-size: .7rem;
    }

    .Contact .icons li {
        font-size: 1rem;
    }

    .copyright small {
        font-size: .7rem;
    }
}




/* /////////////////SCROLL UP BTN /////////////////*/

footer .scroll-up a i {
    position: fixed;
    right: 2%;
    bottom: 2%;
    padding: 1rem 1rem;
    text-decoration: none;
    z-index: 100;
}

@media (max-width: 800px) {
    footer .scroll-up a i {
        padding: .9rem .9rem;
    }
}

@media (max-width: 600px) {
    footer .scroll-up a i {
        padding: .7rem .7rem;
    }
}


/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////COURSES_PAGE///////////////////////////////////////////////////*/

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.courses-carsousel .carousel-inner .carousel-item {
    max-height: 38rem;
    user-select: none;
}

.courses-carsousel .carousel-inner .carousel-item img {
    object-fit: cover;
    filter: brightness(75%);
}

.courses-carsousel .carousel-inner .carousel-caption button {
    background-color: #bde0fe;
    color: #0D6EFD;
    transition: .3s ease;
}

.courses-carsousel .carousel-inner .carousel-caption button:hover {
    filter: brightness(70%);
}

@media (max-width: 450px) {
    .carousel-caption h2 {
        font-size: 1rem;
    }

    .courses-carsousel .carousel-inner .carousel-caption button {
        font-size: .6rem;
        padding: 5px;
    }

}

/* ///////////////////////Courses-slider /////////////////////////////*/

.courses-slider .slide {
    width: 30rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    padding: .8rem;
    box-shadow: 2px 2px 10px grey;
    transition: .3s ease;
    user-select: none;
}

.courses-slider .slide:hover {
    transform: translateY(8px);
    box-shadow: 4px 4px 10px grey;
}

.courses-slider .slide img {
    height: 16rem;
    border-radius: .5rem;
    object-fit: cover;
    width: 100%;
}

.courses-slider .slide h3 {
    margin: 1.5rem;
    font-size: 1.5rem;
    color: #0D6EFD;
    font-weight: bold;
}

.courses-slider .slide p {
    text-align: left;
    font-size: .9rem;
    color: rgb(83, 82, 82);
    font-family: "Archivo Narrow", sans-serif;
    height: 8rem !important;
    padding-right: 20px;
    overflow: auto;
}

.courses-slider .slide p::-webkit-scrollbar {
    width: 3px;
    background-color: #bde0fe;
}

.courses-slider .slide p::-webkit-scrollbar-thumb {
    background-color: #0D6EFD;
}

/* ////////////////////KNOW-MORE//////////////////////// */

.know-more .know-about-gd img {
    width: 24em;
    transition: .4s;
}

.know-more .know-about-gd:hover img {
    filter: drop-shadow(grey 9px 9px 9px);
    transform: translateY(-1rem);
}

.know-more .know-about-gd button {
    background-color: #bde0fe;
    color: #0D6EFD;
    transition: .3s all ease;
}

.know-more .know-about-gd button:hover {
    background-color: #0D6EFD;
    color: white;
    letter-spacing: 2px;
}

/* ////////////////////STUDENTS-ROJECTS-SLIDER//////////////////////// */

.students-projects-slider {
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.students-projects-slider .slide {
    height: 35rem;
    background-color: #F5F2EB;
    border-radius: 18px;
    user-select: none;
}

.students-projects-slider .slide:hover {
    box-shadow: 0px 0px 0px;
}

.students-projects-slider .slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.students-projects-slider .content {
    background-color: white;
    opacity: .9;
    border-top-left-radius: .5rem;
}

.students-projects-slider .slide h4 {
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ED1C24;
}

.students-projects-slider .slide p {
    color: rgb(83, 82, 82);
    font-family: "Kalam", cursive;
    font-size: 1.1rem;
    margin: 0;
}

@media (max-width: 650px) {
    .students-projects-slider .slide {
        height: 27rem;
    }

    .students-projects-slider {
        object-fit: contain;
    }

    .students-projects-slider .slide img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .students-projects-slider .slide h4 {
        margin-top: .5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #ED1C24;
    }

    .students-projects-slider .slide p {
        color: rgb(83, 82, 82);
        font-family: "Kalam", cursive;
        color: #0D6EFD;
        margin: 0;
    }
}

@media (max-width: 980px) {
    .students-projects-slider {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .students-projects-slider {
        width: 75%;
    }

    .students-projects-slider .slide h4 {
        font-size: .8rem;
    }

    .students-projects-slider .slide p {
        font-size: .8rem;
    }
}

/* ////////////////// ////////////////// ////////////////// //////////////////  */
/* ///////////////////////////// /CONTACTS////////////////// ////////////////// */
/* ////////////////// ////////////////// ////////////////// //////////////////  */

.contacts .contacts-input .contacts-title {
    font-size: 3rem;
    font-weight: 900;
}

.contacts .contacts-input .send-button {
    background-color: #0D6EFD;
    transition: .3s;
}

.contacts .contacts-input .send-button:hover {
    opacity: 50%;
    transition: 0s;
    transform: translatey(-10px);
}

.contacts .contacts-social .info .box {
    border-left: #0D6EFD solid 1px;
}

.contacts .contacts-social .info .box:hover {
    border-left: 1.6rem solid #0D6EFD;
    transition: .3s ease-in-out;
    border-radius: 5px;
}

.contacts .contacts-social .info h4 {
    font-weight: 600;
}

.contacts .contacts-social .info p {
    color: grey;
    font-weight: 600;
}

.contacts .contacts-input .info .socials-icon a {
    margin-right: 10px;
    font-size: 1.3rem;
    color: grey;
}

.contacts .contacts-input .info .socials-icon a:hover {
    color: black;
}

@media (max-width:600px) {
    .contacts .contacts-input .contacts-title {
        font-size: 2.2rem;
    }

    .contacts .contacts-input .send-button {
        font-size: .9rem;
    }

    .contacts .title h1 {
        font-size: 2.7rem;
    }

    .contacts-social h4 {
        font-size: 1.1rem;
    }

    .contacts-social p {
        font-size: .8rem;
    }

    .contacts .contacts-input .info .socials-icon a {
        font-size: 1rem;
    }
}


/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////ABOUT//////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.faculty-and-staff .our-team {
    padding: 30px 0 60px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}

.faculty-and-staff .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.faculty-and-staff .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.faculty-and-staff .our-team:hover .picture::before {
    height: 100%;
}

.faculty-and-staff .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.faculty-and-staff .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.faculty-and-staff .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.);
}

.faculty-and-staff .our-team .title {
    display: block;
    font-size: .9rem;
    color: #72767b;
    text-transform: capitalize;
}

.faculty-and-staff .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.faculty-and-staff .our-team:hover .social {
    bottom: 0;
}

.faculty-and-staff .our-team .social li {
    display: inline-block;
}

.faculty-and-staff .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.faculty-and-staff .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

/* ////////////////////////////////////PANO-VIEW//////////////////////// */

/* ///////////////////////GALLARY/////////////////////////////// */

@import "https://unpkg.com/normalize.css";

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --gap: 1rem;
    --card-width: clamp(280px, 20vw, 100vw);
    --card-aspect-ratio: 5 / 7;
    --card-height: calc(var(--card-width) * (7 / 5));
}

.gallary {
    display: grid;
    place-items: center;
    overflow-x: hidden;
    justify-content: center;
    min-height: 100vh;
}

.gallary .grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, var(--card-width));
    gap: 1rem;
    /* overflow: hidden shouldn't break this? */
    overflow: hidden;
}


.gallary .column {
    display: grid;
    gap: 1rem;
    align-content: start;
}

.gallary .column:not(:nth-of-type(3)) {
    animation: scale 1s linear both;
    animation-timeline: scroll(root);
}

/* The distance is the number of cards minus 100vh */
.gallary .column:is(:nth-of-type(2), :nth-of-type(4)) {
    --origin: calc(var(--gap) * -1);
    --destination: calc(var(--card-height) * 1.5 + var(--gap));
}

.gallary .column:is(:nth-of-type(1), :nth-of-type(5)) {
    --origin: calc(var(--gap) * -2);
    --destination: calc(var(--card-height) * 3.4 + var(--gap));
}

@keyframes scale {
    0% {
        transform: translateY(var(--origin, 0%));
    }

    100% {
        transform: translateY(var(--destination, -50%));
    }
}

.gallary img {
    max-width: 100%;
    border: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 5 / 7;
    background: hsl(0 0% 80%);
    border-radius: 1rem;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////LOGIN////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.login-page {
    background-image: url(images/courses-slider-img2.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 45%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.31);
}

.login .btn-login {
    background-color: #0D6EFD;
    color: white;
    font-weight: 500;
    transition: .3s ease-in-out;
}

.login .btn-login:hover {
    transform: translateY(-5px);
}

.login .login-icons li {
    display: inline;
    margin: 20px;
    color: #0D6EFD;
}

.login .login-icons li a img {
    transition: .3s ease;
}

.login .login-icons li a img:hover {
    border: 1px solid black;
    padding: 5px;
    border-radius: 40rem;
}

@media (max-width:850px) {
    .login {
        width: 65%;
    }
}

@media (max-width:600px) {
    .login {
        width: 80%;
    }
}

@media (max-width:500px) {
    .login .btn-login {
        font-size: .9rem;
    }
}

@media (max-width:400px) {

    .login .Remember-me {
        font-size: .8rem;
    }

    .login .forget-pwd {
        font-size: .8rem;
    }

    .login .sign-with {
        font-size: 0.7rem;
    }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////GRAPHIC DESIGNING////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.graphic-designing .introduction {
    background-color: #9B1D20;
    background-image: url(images/cutted-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: auto;
}

.graphic-designing .breadcrumb li {
    color: white;
    font-size: .9rem;
}

.graphic-designing .breadcrumb li a {
    text-decoration: none;
    color: white;
    transition: .2s all ease-in-out;
}

.graphic-designing .breadcrumb li a:hover {
    text-decoration: underline;
}

.parallax-wrap {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-wrap span img {
    /* filter: drop-shadow(#141414a6 0px 50px 50px); */
    margin: 0;
    overflow: hidden;
    width: 500px;
}

.parallax-wrap span {
    position: absolute;
    height: auto;
    width: 550px;
}

.parallax-wrap span h1 {
    font-size: 3rem;
}

.parallax-wrap span:nth-child(1) {
    top: 0%;
    left: 0%;
    z-index: 3;
}

.parallax-wrap span:nth-child(2) {
    top: 15%;
    left: 40%;
    z-index: 3;
}

@media (max-width:1024px) {
    .parallax-wrap span img {
        width: 450px;
    }
}

@media (max-width:940px) {

    .parallax-wrap span h1 {
        font-size: 2.2rem;
    }

    .parallax-wrap span img {
        width: 400px;
    }

    .parallax-wrap span {
        width: 380px;
    }

    .parallax-wrap span:nth-child(2) {
        left: 45%;
    }
}

@media (max-width:700px) {

    .parallax-wrap span img {
        width: 350px;
    }

    .parallax-wrap span:nth-child(1) {
        top: 5%;
    }

    .parallax-wrap span {
        font-size: 0.9rem;
        width: fit-content;
    }

    .parallax-wrap span p {
        padding-right: 1.5rem;
    }

}

@media (max-width:576px) {

    .graphic-designing .introduction {
        background-size: contain;
        background-attachment: fixed;
    }

    .parallax-wrap {
        height: 90vh;
    }

    .parallax-wrap span img {
        display: none;
    }

    .parallax-wrap span:nth-child(2) {
        left: 10%;
    }

    .parallax-wrap span {
        width: 500px;
    }
}

@media (max-width:450px) {
    .graphic-designing .parallax-wrap img {
        display: none;
    }

    .parallax-wrap span h1 {
        font-size: 2.5rem;
    }

    .parallax-wrap span {
        width: fit-content;
    }

    .parallax-wrap span:nth-child(2) {
        left: 5%;
    }

    .parallax-wrap {
        height: 55vh;
    }
}

/* ///////////////////////highlights/////////////////////// */

.graphic-designing .highlights {
    background-color: #9B1D20;
}

.graphic-designing .highlights h1 {
    font-family: "Archivo Narrow", sans-serif;
    letter-spacing: 4px;
}

.graphic-designing .highlights ul li i {
    margin-right: 4px;
}

/* //////////////////what-you-will-learn/////////////// */

.graphic-designing .what-you-will-learn {
    background-color: #9B1D20;
    padding: 7rem 0rem;
    background-image: url(images/peacock-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.what-you-will-learn .left-nav a {
    border: none;
    background: none;
    color: whitesmoke;
    font-weight: bold;
    border-left: 1px #bde0fe solid;
    transition: .2ms;
    font-family: "Archivo Narrow", sans-serif;
    letter-spacing: 2px;
}

.what-you-will-learn .left-nav .active {
    color: #F3A712;
    border-left: 2px #F3A712 solid;
}

.what-you-will-learn .left-nav a:hover {
    color: #F3A712;
    border-left: 2px #F3A712 solid;
}

.what-you-will-learn .tab-content i {
    margin-right: 4px;
}

@media (max-width:1024px) {

    .graphic-designing .what-you-will-learn {
        background-size: 40%;
    }

    .what-you-will-learn .left-nav a {
        letter-spacing: normal;
    }
}

@media (max-width:450px) {
    .graphic-designing .what-you-will-learn {
        background-image: none;
    }
}

/* /////////////////////tools//////////////////////////// */

.tools {
    background: linear-gradient(#9B1D20 10%, #F3A712 55%);
}

.tools h2 {
    font-family: "Archivo Narrow", sans-serif;
}

.tools .software ul {
    user-select: none;
    display: flex;
    justify-content: center;
}

.tools .software ul li {
    background: transparent;
    border: 0px;
}

@media (max-width:768px) {
    .tools .software ul img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width:750px) {

    .tools {
        background: linear-gradient(#9B1D20 5%, #F3A712 25%);
    }
}

.web-development
/* ////////////////////////////////////////////////////////////////////////
/////////////////////////////////WEB DEVELOPMENT///////////////////////////
//////////////////////////////////////////////////////////////////////////*/

.web-development .breadcrumb li {
    color: white;
    font-size: .9rem;
}

.web-development .breadcrumb li a {
    text-decoration: none;
    color: white;
    transition: .2s all ease-in-out;
}

.web-development .breadcrumb li a:hover {
    text-decoration: underline;
}

.web-development {
    font-family: "Raleway", sans-serif;
}

.web-development .font-transparent {
    color: transparent;
    font-size: 6rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: "Bebas Neue", sans-serif;
    line-height: 0px;
}

.web-development .font-color {
    font-size: 4rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 10px;
    background: -webkit-linear-gradient(45deg, #0D6EFD, #bde0fe);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:450px) {

    .web-development .font-color {
        font-size: 3rem;
    }

}

/* //////////////////////////HIGHLIGHT/////////////////// */

/* The device with borders */
.web-development .phone-layout {
    position: relative;
    width: 520px;
    height: 600px;
    margin: auto;
    border: 10px black solid;
    border-top-width: 10px;
    border-bottom-width: 12px;
    border-radius: 36px;
}

/* The screen (or content) of the device */
.web-development .phone-layout .content {
    width: auto;
    height: 100%;
    background: black;
    border-radius: 26px;
}

@media (max-width:1000px) {
    .web-development .phone-layout {
        width: fit-content;
    }
}

@media (max-width:500px) {
    .web-development .phone-layout {
        width: fit-content;
        height: 500px;
    }
}

/* /////////////////what-you-will-learn////////////////////////// */

.web-development .what-you-will-learn .diploma .left-nav a {
    border-left: #bde0fe solid 1px;
}

.web-development .what-you-will-learn .diploma .left-nav .active {
    color: #0D6EFD;
    border-left: 2px #0D6EFD solid;
}

.web-development .what-you-will-learn .diploma h4,
.web-development .what-you-will-learn .advance h4 {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.web-development .what-you-will-learn .diploma .tab-content,
.web-development .what-you-will-learn .advance .tab-content {
    font-size: 1.3rem;
}

.web-development .what-you-will-learn .diploma .left-nav a:hover {
    color: #0D6EFD;
    border-left: 2px #0D6EFD solid;
}

.web-development .what-you-will-learn .advance .left-nav a {
    border-left: #9B1D20 solid 1px;
}

.web-development .what-you-will-learn .advance .left-nav .active {
    color: #ED1C24;
    border-left: 2px #ED1C24 solid;
}

.web-development .what-you-will-learn .advance .left-nav a:hover {
    color: #ED1C24;
    border-left: 2px #ED1C24 solid;
}

@media (max-width:800px) {


    .web-development .what-you-will-learn .diploma .tab-content,
    .web-development .what-you-will-learn .advance .tab-content {
        font-size: 1rem;
    }

}


/* /////////////////////////////////WEB_DEVELOPMENT_PROJECTS////////////////////////////////////*/

a,
a:link,
a:visited {
    color: #212121;
    text-decoration: none;
}

.web-develpoment-project .web-dev-carousel {
    height: 560px;
    position: relative;
    width: 100%;
}

.web-develpoment-project .web-dev-carousel.fullwidth {
    height: 500px;
}

.web-develpoment-project .web-dev-carousel.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.web-develpoment-project .slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
    perspective: 800px !important;
}

.web-develpoment-project .slider-item {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
    display: none;
    height: 350px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 270px;
    cursor: pointer;
    border: 5px solid black;
    overflow: hidden;
}

.web-develpoment-project .slider-item::-webkit-scrollbar {
    width: 0px;
    background-color: #212529;
}

.web-develpoment-project .slider-item::-webkit-scrollbar-thumb {
    background-color: white;
}

.web-develpoment-project .slider-item img {
    object-fit: cover;
}

.web-develpoment-project .slider-item h4 {
    color: white;
    margin: 4px;
}

.web-develpoment-project .slider-item a button {
    border: 0;
    border-radius: .6rem 0px;
    background-color: #0D6EFD;
    color: white;
    transition: .4s ease-in;
    border: #0D6EFD solid 2px;
}

.web-develpoment-project .slider-item a button:hover {
    background-color: #bde0fe;
    color: black;

    border: #0D6EFD solid 2px;
}

.web-develpoment-project .indicators {
    top: 0;
    left: 50%;
    padding: 0;
    list-style-type: none;
    margin: 40px 0 0 -77px;
    position: absolute;
}

.web-develpoment-project .indicators li {
    color: #255f8b;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.web-develpoment-project .indicators li:last-child {
    margin: 0;
}

.web-develpoment-project .indicators a {
    background: #00416a;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.web-develpoment-project .indicators .active a {
    background: #e4e5e6;
}

.courses .web-develpoment-project .indicators .active a {
    background: #bde0fe;
}


.web-develpoment-project .Project1 {
    border-radius: 50px !important;
    background-color: black;
}

.web-develpoment-project .project2 {
    border-radius: 50px !important;
    background-color: black;
}

.web-develpoment-project .project3 {
    border-radius: 50px !important;
    background-color: black;
}

.web-develpoment-project .project4 {
    border-radius: 25px !important;
}

.web-develpoment-project .project5 {
    border-radius: 25px !important;
}

.web-develpoment-project .project6 {
    border-radius: 25px !important;
}

.web-develpoment-project .project7 {
    border-radius: 25px !important;
}

.web-develpoment-project .project8 {
    border-radius: 25px !important;
}

/* //////////////////////////////////////////// */

.web-development .tools {
    background: transparent;
}

@media (max-width:768px) {
    .web-development .tools .software ul img {
        width: 100%;
        height: 60px;
    }
}

@media (max-width:750px) {

    .web-development .tools {
        background: none;
    }
}